<%- include ('common/header') -%>
<main>
  <div class="inputStats">
    <h3>Nº</h3>
    <p><%= String(pokemon.id).padStart(3, '0') %></p>
    <h3>Name</h3>
    <p><%= pokemon.name %></p>
  </div>
  <img src="<%= pokemon.image %> " class="pokeImgSingle" />
  <div class="inputStats">
    <h3>Hg</h3>
    <p><%= pokemon.height %> m</p>
    <h3>Wg</h3>
    <p><%= pokemon.weight %> kg</p>
    <h3>Type</h3>
    <p><%= pokemon.type %></p>
  </div>
  <div class="inputStats">
    <h3>Category</h3>
    <p><%= pokemon.category %></p>
    <h3>Ability</h3>
    <p><%= pokemon.ability %></p>
  </div>
  <h3>Description</h3>
  <p class="description"><%= pokemon.description %></p>
  <div class="inputStats">
    <p>See something wrong?</p>
    <button class="update">update</button>
  </div>
  <dialog>
      <button class="modalClose" >close</button>
    <form method="POST" action="/?_method=PUT" >
      <input type="hidden" name="_method" value="PUT" enctype="application/x-www-form-urlencoded">
      <div class="inputStats">
        <input
          type="hidden"
          name="id"
          required="required"
          title="number is obligatory"
          max="999"
          min="0"
          value="<%= pokemon.id %>"
        />
      </div>
      <div class="inputStats">
        <label for="name">Name</label>
        <input
          type="text"
          name="name"
          required="required"
          title="name is obligatory"
          autocapitalize="none"
          value="<%= pokemon.name.toUpperCase() %>"
        />
        <label for="type">Type</label>
        <select name="type" value="<%= pokemon.type %>" required>
          <Optgroup >
            <%allTypes.forEach(type=>{ %>
              <%if(type.toLowerCase()=== pokemon.type){%>
                <option selected><%=type%></option>
              <%}else{%>
                <option><%=type%></option>
              <%}%>
            <% })%>
          </Optgroup>
        </select>
      </div>
      <div class="inputStats">
        <label for="image">Image URL</label>
        <input
          type="url"
          name="image"
          required="required"
          title="image URL is obligatory"
          value="<%= pokemon.image %>"
        />
      </div>
      <label for="description">Description</label>
      <textarea
        name="description"
        cols="15"
        rows="5"
        class="updateDesc"
      ></textarea>
      <div class="inputStats">
        <label for="height">Height</label>
        <input type="number" step="0.1" name="height" value="<%= pokemon.height %>"/>
        <label for="weight">Weight</label>
        <input type="number" step="0.1" name="weight" value="<%= pokemon.weight %>" />
      </div>
      <div class="inputStats">
        <label for="category">Category</label>
        <input type="text" name="category" value="<%= pokemon.category %>"/>
      </div>
      <div class="inputStats">
        <label for="ability">Ability</label>
        <input type="text" name="ability" value="<%= pokemon.ability %>"/>
      </div>
      <button type="submit">Update</button>
    </form>
  </dialog>
</main>
<%- include ('common/footer') -%>
