<%- include ('common/header') -%>
<main>
  <div class="inputStats">
    <h3>Nº</h3>
    <p><%= String(pokemon.id).padStart(3, '0') %></p>
    <h3>Name</h3>
    <p><%= pokemon.name %></p>
  </div>
  <img src="<%= pokemon.image %> " class="pokeImgSingle" />
  <div class="inputStats">
    <h3>Hg</h3>
    <p><%= pokemon.height %> m</p>
    <h3>Wg</h3>
    <p><%= pokemon.weight %> kg</p>
    <h3>Type</h3>
    <p><%= pokemon.type %></p>
  </div>
  <div class="inputStats">
    <h3>Category</h3>
    <p><%= pokemon.category %></p>
    <h3>Ability</h3>
    <p><%= pokemon.ability %></p>
  </div>
  <h3>Description</h3>
  <p><%= pokemon.description %></p>
</main>
<%- include ('common/footer') -%>
