<%- include ('common/header') -%>
<main>
  <h1>Olá</h1>
  <div class="pokeContainer">
    <% pokedex.forEach(poke=>{ %>
    <div key="<%= poke.id %> " class="pokeDiv">
      <p><%= poke.id %></p>
      <p><%= poke.name %></p>
      <img src="<%= poke.image %> " class="pokeImg" />
      <p><%= poke.desc %></p>
    </div>
    <% }) %>
  </div>
</main>
<%- include ('common/footer') -%>
