<%- include ('partials/header') -%>
<main>
  <div class="pokeContainer">
    <% pokemons.forEach(poke=>{ %>

    <div key="<%= poke.id %> " class="pokeDiv">
      <div class="inputStats">
        <h3>Nº</h3>
        <p><%= String(poke.id).padStart(3, '0') %></p>
        <h3>Name</h3>
        <p><%= poke.name %></p>
      </div>
      <img src="<%= poke.image %> " class="pokeImg" title="Click for details" />
      <div class="inputStats">
        <h3>Type</h3>
        <p><%= poke.type %></p>
      </div>
    </div>
    <% }) %>
  </div>
</main>
<%- include ('partials/footer') -%>
