<%- include ('common/header') -%>
<main>
  <h1>Tchau</h1>
  <div class="pokeContainer">
    <% pokemons.forEach(poke=>{ %>
    <div key="<%= poke.id %> " class="pokeDiv">
      <p><%= poke.id %></p>
      <p><%= poke.name %></p>
      <img src="<%= poke.image %> " class="pokeImg" />
      <p><%= poke.type %></p>
    </div>
    <% }) %>
  </div>
  <a href="/register">Register new Pokemon</a>
</main>
<%- include ('common/footer') -%>
