<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./public/css/style.css" type="text/css" />
    <title>Pokedex</title>
  </head>
  <body>
    <header></header>
    <main>
      <h1>Olá</h1>
      <div class="pokeContainer">
        <% pokedex.forEach(poke=>{ %>
        <div key="<%= poke.id %> ">
          <p><%= poke.id %></p>
          <p><%= poke.name %></p>
          <img src="<%= poke.image %> " />
          <p><%= poke.desc %></p>
        </div>
        <% }) %>
      </div>
    </main>
    <footer></footer>
  </body>
</html>
